@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.banner a {
    color: #31A8DD;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
}